<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Automation Suite FTRPoker">
  <test name="Regression Suite" >
    <classes>
       <class name="com.testAutomationTest.QA.testCases.LoginTest"></class>
       <class name="com.testAutomationTest.QA.testCases.BalanceTest"></class>
       <class name="com.testAutomationTest.QA.testCases.MyProfileTest"></class>
    </classes>
  </test>
</suite>